*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: unset;
  text-decoration: none;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------------------------ */
/*                 Nav                        */
/* ------------------------------------------ */

nav {
  display: flex;
  padding: 0 40px;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkgray;
}

nav .nav-div {
  display: flex;
}

.nav-div *{
  margin-left: 30px;
  color: rgb(97, 95, 95);
}

.brand {
  color: rgb(248, 144, 8);
}

.nav-div *:hover{
  cursor: pointer;
  color: rgb(48, 47, 47);
}

/* ------------------------------------------ */
/*                page                        */
/* ------------------------------------------ */

.page {
  
  margin: 40px 20vw 25px;
  color: rgb(97, 95, 95);
  
}

.page2 {
 
  margin: 40px 31vw 0;
  color: rgb(97, 95, 95);

}

.title-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-div button{
  width: 80px;
  font-size: 1em;
  height: 23px;
}

/* ------------------------------------------ */
/*                footer                      */
/* ------------------------------------------ */

footer{
  height: 5vh;
  padding: 10px;
  border-top: 1px solid darkgray;
}

footer p{
  text-align: center;
}

/* ------------------------------------------ */
/*                card                        */
/* ------------------------------------------ */

.card{
  border: 1px solid darkgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.card-line{
  height: 2px;
  width: 150px;
  background-color: rgba(97, 95, 95, 0.658);
  border-radius: 10px;
  margin: 10px;
}

.card-div {
  padding-top: 13px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card button {
  margin-top: 10px;
  width: 150px;
  background-color: rgb(248, 144, 8);
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 600;
}

.card button:hover {
  background-color: rgb(231, 137, 15);
  cursor: pointer;
}

.img-div {
  border-radius: 3px;
  width: 150px;
  height: 170px;
  background-color: darkgray;
  margin-bottom: 10px;
}

/* ------------------------------------------ */
/*                form                        */
/* ------------------------------------------ */

.form-div {
  padding-top: 13px; 
}

.form-div form{
  display: flex;
  flex-direction: column;
}

.form-div form input{
  margin-bottom: 15px;
  height: 25px;
  padding-left: 4px;
}

.form-div form textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 180px;
  min-height: 180px;
  padding: 4px;
}

.form-div form label{
  font-weight: 500;
  margin-bottom: 2px;
}

.form-div form button{
  margin-top: 15px;
  height: 27px;
  border: none;
  background-color: rgb(248, 144, 8);
  border-radius: 4px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  width: 23%;
}

/* ------------------------------------------ */
/*                book                        */
/* ------------------------------------------ */

.book-detail {
  padding-top: 15px;
}

.book-detail h5{
  margin-top: 10px;
}

.book-detail .line {
  height: 1px;
  width: 100%;
  background-color: rgba(169, 169, 169, 0.493);
  margin: 10px auto;
}

.book-detail .button-div{
  margin-top: 10px;
  display: flex;
}

.button-div button{
  width: 80px;
  padding: 5px 0;
  margin-right: 7px;
  font-weight: 500;
}

.button-div button.edit {
  background-color: rgba(4, 231, 4, 0.582);
  color: white;
  border: none;
  border-radius: 3px;
}

.button-div button.edit:hover{
  background-color: rgba(3, 180, 3, 0.582);
}

.button-div button.delete {
  background-color: rgba(231, 30, 4, 0.582);
  color: white;
  border: none;
  border-radius: 3px;
}

.button-div button.delete:hover {
  background-color: rgba(177, 25, 5, 0.582);
}


/* ------------------------------------------ */
/*                Tablet                      */
/* ------------------------------------------ */

@media (max-width: 800px){

  p,h1,h2,h3,h4,h5,h6{
      font-size: 0.95em;
  }
 
/* ------------------------------------------ */
/*                 Nav                        */
/* ------------------------------------------ */

nav {
  padding: 0 20px;
  height: 8vh;
}

.nav-div *{
  margin-left: 15px;
}

/* ------------------------------------------ */
/*                page                        */
/* ------------------------------------------ */

.page {
  margin: 20px 14vw 15px;
}

.page2 {
  margin: 20px 20vw 0;
 }

.title-div button{
  width: 60px;
  font-size: 0.85em;
  height: 18px;
}

/* ------------------------------------------ */
/*                card                        */
/* ------------------------------------------ */

.card{
  border-radius: 4px;
  padding: 10px 0;
}

.card-line{
  margin: 8px;
}

.card-div {
  padding-top: 12px; 
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

.card button {
  margin-top: 8px;
  width: 150px;
  padding: 6px 13px;
}


.img-div {
  height: 160px;
  margin-bottom: 8px;
}

/* ------------------------------------------ */
/*                book                        */
/* ------------------------------------------ */

.button-div button{
  width: 70px;
}

}

@media (max-width: 430px){
p,h1,h2,h3,h4,h5,h6{
  font-size: 0.85em;
}

/* ------------------------------------------ */
/*                 Nav                        */
/* ------------------------------------------ */

nav {
  padding: 0 8px;
  height: 7vh;
  margin-bottom: 25px;
}

.nav-div *{
  margin-left: 5px;
}

/* ------------------------------------------ */
/*                page                        */
/* ------------------------------------------ */

.page {
  margin: 10px 15vw 15px;
}

.page2 {
  margin: 10px 10vw 0;
 }

 .page3{
  margin: 10px 6vw 15px;
 }

.title-div button{
  width: 60px;
  font-size: 0.85em;
  height: 18px;
}

/* ------------------------------------------ */
/*                card                        */
/* ------------------------------------------ */

.card{
  width: 70vw;
  padding: 20px 5vw;
}

.card-line{
  width: 60vw;
}

.card-div {
  grid-template-columns: 1fr;
  grid-gap: 18px;
}

.card button {
  width: 60vw;
  padding: 8px 15px;
}

.img-div {
  border-radius: 3px;
  width: 60vw;
  height: 170px;
  background-color: darkgray;
  margin-bottom: 10px;
}

/* ------------------------------------------ */
/*                form                        */
/* ------------------------------------------ */


.form-div form input{
  margin-bottom: 15px;
  height: 28px;
  padding-left: 4px;
}

.form-div form textarea{
  max-height: unset;
  min-height: 40vh;
  padding: 6px;
}

.form-div form label{
  margin-bottom: 3px;
}

.form-div form button{
  height: 30px;
  width: 100%;
}


}